* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
}
body {
  height: 5000px;
}

section {
  max-width: 1140px;
  background-color: rgba(0, 190, 190, 0.562);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.sec1 {
  padding-bottom: 100px;
}
.nav {
  margin-top: 20px;
  text-align: center;
  padding-top: 30px;
}
section ul {
  font-size: 16px;
}
section ul li {
  background-color: brown;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
.sec1 ul li:hover {
  background-color: turquoise;
}
.galary {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
}
.galary img {
  padding-top: 15px;
  max-width: 100%;
}

/* section2 */

.serial {
  text-align: center;
  margin: 15px auto 0;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  height: 66.5px;
  color: white;
}
.generate {
  background-color: brown;
  display: block;
  margin: 20px auto 0;
  width: fit-content;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.sec2 {
  padding-bottom: 20px;
}

/* section3 */

.sec3 {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.tabs {
  margin-top: 20px;
}
.tabs li {
  transition: 0.2s;
}

.tabs li.active,
.tabs li:hover {
  background-color: #ddd;
  color: black;
}

.content {
  background-color: #ddd;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.content > div {
  padding: 20px;
}
.content > div:not(:first-child) {
  display: none;
}

/* section4 */

.up {
  position: fixed;
  bottom: 15px;
  right: -30px;
  background-color: burlywood;
  color: rgb(141, 31, 91);
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.8s;
}
.up.show {
  right: 20px;
}

/* section5 */
.sec5 {
  padding: 20px;
  margin-top: 20px;
}
.rad {
  width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: cadetblue;
}

.rad > div {
  padding: 5px 0;
}

.rad input[type="radio"] {
  appearance: none;
}
.rad label {
  position: relative;
  padding-left: 25px;
}
.rad label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgb(16, 30, 233);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-39%);
  background-color: #fff;
}

.rad input[type="radio"]:checked + label::after,
.rad input[type="radio"]:not(:checked):hover + label::after {
  content: "";
  background-color: #e20707;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 2px;
  top: 8px;
}

.rad input[type="radio"]:not(:checked):hover + label::after {
  opacity: 0.2;
}

.rad input[type="radio"]:checked + label {
  color: #e20707;
}

/* section6 */
.sec6 {
  margin-top: 20px;
  padding: 50px;
}
.product {
  width: 400px;
  margin: 20px auto;
  box-shadow: 0 0 15px #ddd;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  overflow: hidden;
  transition: 0.8s;
  border-radius: 5px;
}
.product .number {
  background-color: #07afe2;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.8s;
}
.product h3 {
  margin: 10px;
  font-size: 25px;
  color: goldenrod;
  transition: 0.8s;
}
.product p {
  line-height: 1.6;
  transition: 0.8s;
}

.product:hover .number {
  box-shadow: 0 0 0 500px #07afe2;
}

.product:hover h3,
.product:hover p {
  color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
