* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
}
body {
  height: 5000px;
}

section {
  max-width: 1140px;
  background-color: rgba(0, 190, 190, 0.562);
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.sec1 {
  padding-bottom: 100px;
}
.nav {
  margin-top: 20px;
  text-align: center;
  padding-top: 30px;
}
section ul {
  font-size: 16px;
}
section ul li {
  background-color: brown;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}
.sec1 ul li:hover {
  background-color: turquoise;
}
.galary {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: space-around;
}
.galary img {
  padding-top: 15px;
  max-width: 100%;
}

/* section2 */

.serial {
  text-align: center;
  margin: 15px auto 0;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  height: 66.5px;
  color: white;
}
.generate {
  background-color: brown;
  display: block;
  margin: 20px auto 0;
  width: fit-content;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}
.sec2 {
  padding-bottom: 20px;
}

/* section3 */

.sec3 {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}
.tabs {
  margin-top: 20px;
}
.tabs li {
  transition: 0.2s;
}

.tabs li.active,
.tabs li:hover {
  background-color: #ddd;
  color: black;
}

.content {
  background-color: #ddd;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.content > div {
  padding: 20px;
}
.content > div:not(:first-child) {
  display: none;
}

/* section4 */

.up {
  position: fixed;
  bottom: 15px;
  right: -30px;
  background-color: burlywood;
  color: rgb(141, 31, 91);
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.8s;
}
.up.show {
  right: 20px;
}

/* section5 */
.sec5 {
  padding: 20px;
  margin-top: 20px;
}
.rad {
  width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  color: cadetblue;
}

.rad > div {
  padding: 5px 0;
}

.rad input[type="radio"] {
  appearance: none;
}
.rad label {
  position: relative;
  padding-left: 25px;
}
.rad label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgb(16, 30, 233);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-39%);
  background-color: #fff;
}

.rad input[type="radio"]:checked + label::after,
.rad input[type="radio"]:not(:checked):hover + label::after {
  content: "";
  background-color: #e20707;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 2px;
  top: 8px;
}

.rad input[type="radio"]:not(:checked):hover + label::after {
  opacity: 0.2;
}

.rad input[type="radio"]:checked + label {
  color: #e20707;
}

/* section6 */
.sec6 {
  margin-top: 20px;
  padding: 50px;
}
.product {
  width: 400px;
  margin: 20px auto;
  box-shadow: 0 0 15px #ddd;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  overflow: hidden;
  transition: 0.8s;
  border-radius: 5px;
  background-color: rgb(1, 202, 252);
}
.product .number {
  background-color: #07afe2;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.8s;
}
.product h3 {
  margin: 10px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  transition: 0.8s;
}
.product p {
  line-height: 1.6;
  transition: 0.8s;
}

.product:hover .number {
  box-shadow: 0 0 0 500px #07afe2;
}

.product:hover h3,
.product:hover p {
  color: white;
}

/* section7 */
.sec7 {
  margin-top: 20px;
  padding: 50px;
}
.sec7 .product2 {
  width: 400px;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  background-color: gray;
  border-radius: 10px;
  box-shadow: 0 0 15px honeydew;
}
.sec7 .product2 h2 {
  padding: 20px;
  margin: 0 0 16px;
  background-color: #009685;
  color: white;
  width: calc(100% + 80px);
  position: relative;
  left: -40px;
}
.sec7 .product2 p {
  line-height: 1.6;
  color: #ddd;
  font-size: 18px;
  font-weight: 500;
}
.sec7 .product2 h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  border-width: 10px;
  border-color: #02766b #02766b transparent transparent;
  border-style: solid;
}
.sec7 .product2 h2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -20px;
  border-width: 10px;
  border-color: #02766b transparent transparent #02766b;
  border-style: solid;
}

/* section8 */
.sec8 {
  padding: 80px;
  margin-top: 15px;
  text-align: center;
}
.sec8 button {
  padding: 10px 20px;
  display: block;
  font-size: 20px;
  border: none;
  position: relative;
  background-color: #eee;
  cursor: pointer;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
}
.tooltip {
  background-color: #02766b;
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  min-width: 240px;
  padding: 10px 15px;
  top: -60px;
  transition: 0.9s;
  border-radius: 10px;
  opacity: 0;
}
.tooltip::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-color: #02766b transparent transparent transparent;
  border-width: 10px;
}
.sec8 button:hover {
  overflow: visible;
}
.sec8 button:hover .tooltip {
  opacity: 1;
}

[data-position="bottom"] .tooltip {
  top: auto;
  bottom: -60px;
}
[data-position="bottom"] .tooltip::before {
  bottom: auto;
  top: -20px;
  border-color: transparent transparent #02766b transparent;
}

/* section9 */
.sec9 {
  padding: 80px;
  margin-top: 15px;
  text-align: center;
}
.sec9 div {
  margin: auto;
  width: fit-content;
}

.sec9 h1 {
  font-size: 80px;
  -webkit-text-fill-color: snow;
  -webkit-text-stroke: 1px #333;
  position: relative;
}
.fill::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: tomato;
  transition: 0.6s;
  width: 0;
  overflow: hidden;
}
.fill:hover:before {
  width: 100%;
}

/* section10 */
.sec10 {
  padding: 80px;
  margin-top: 15px;
  text-align: center;
}
.sec10 div {
  margin: auto;
}
.sec10 div a {
  margin: auto;
  font-size: 30px;
  text-decoration: none;
  font-weight: 700;
  color: #ddd;
  display: block;
  position: relative;
  width: 190px;
  height: 50px;
  line-height: 36px;
  text-align: center;
  overflow: hidden;
  background-color: rgb(28, 54, 46);
  padding-top: 5px;
  border-radius: 20px;
}
.sec10 div a::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: #ddd;
  padding-top: 5px;
  transform: translateX(-100%);
  transition: 0.9s;
}
.sec10 div a span {
  display: block;
  transition: 0.9s;
}
.sec10 div a:hover::before {
  transform: translateX(0);
}
.sec10 div a:hover span {
  transform: translateX(100%);
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
